---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us">
  <div class="hero">
    <div class="container">
      <h1>About Milky Sheets™</h1>
      <p>Wholly owned Australian company specialising in lifestyle and home products</p>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="content">
        <p>Milky Sheets™ is a wholly owned Australian company that specialises in lifestyle and home products. We are committed to producing the highest quality products, with a focus on ethical standards and practices. Our range is designed in-house in Sydney and we only use the best certified specialty manufacturers from around the world.</p>

        <h2>The Most Comfortable Sleep Experience</h2>
        <p>As we spend a third of our lives sleeping, it's such an important part of our lives, as well as our physical and mental health. That's why we believe in creating the best sleep environment for you. Just like many Australians, we've all had difficulty sleeping at some points in our lives and understand how difficult it can be to fall asleep because our bedding was not comfortable enough. That's why we've done a lot of research and testing on the every detail (the fabric, the thread count, the weave, the colours, etc) of every bedding item in our store so you can have the best sleep experience.</p>

        <h2>Hypoallergenic Products Only</h2>
        <p>We pay special attention to designing hypoallergenic products. In Australia, the prevalence of allergies is high and increasing; yet there is a lack of awareness on its impact on the quality of life. In Australia, 2 in 5 adults suffer from hay fever, 1 in 10 adults suffer from asthma, and 6 in 10 adults suffer from sensitive skin or eczema. Milky Sheets wants to raise awareness on these allergies and how to control them through adopting simple a lifestyles changes.</p>

        <p>We know about all those toxic chemicals in fabric that can be endocrine disrupting, carcinogenic or cause allergies. You can be assured that all our products have been tested to be completely safe and non-allergenic.</p>

        <h2>Five-star Bed and Bath Experience</h2>
        <p>We hope you will love your Milky Sheets™ product as much as we do, and we hope our product has helped you get a better sleep or bath experience.</p>
      </div>
    </div>
  </section>
</Layout>